<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="text-center">このサイトについて</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="text-center">Coming Soon..</h1>
		</div>
	</div>
</div>