<div class="container">
	<div class="row">
		<div class="col-xs-9">
		</div>
	<!-- サイドバー -->
		<section class="col-xs-3 text-center">
			<%= render 'users/side', user: @user %>
		<!-- 円グラフ -->
			<%= pie_chart @genres_data.group(:genre_name).count %>
			<%= pie_chart @emotions_data.group(:emotion_name).count %>
		</section>
	</div>
</div>
<div class="">
	<p>日間PV数</p>
	<%= line_chart @post_counts %>
</div>