/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.row-eq-height {
	display: flex;
	flex-wrap: wrap;
}
.header_search {
	padding-top: 10px;
}

/*スライド関連*/
.top {
	margin: 0 20px 50px;
}
.top_contents div {
	height: 400px;
	margin: 20px 0;
}

.item {
	width: 300px;
	padding: 0 20px;
	img {
		width: 100%;
		height: 55%;
	}
}

.slick-dots {
	text-align: center;
	margin-left: 5px;
	li {
		display: inline-block;
		margin: 0 5px;
	}
	button {
		padding: 0;
		border: none;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: silver;
		color: transparent;/*数字消す*/
	}
	.slick-active {
		button {
		  background-color: black;
		}
	}
}
/*ここまで*/

.item > h4 {
	color: black;
}

a {
	text-decoration: none;
}
.header_link {
	list-style: none;
}
.post_headerimage {
	width: 100%;
	height: 50%;
}
