// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_image {
	margin-bottom: 5px;
}

.post_show {
	background-color: white;
}

.posted_date {
	opacity: 0.4;
}

.post-image img {
  margin: 0 auto;
  max-height: 350px;
}

.genre_contents, .popular_contents, .user_contents, .new_contents, .item {
	margin-bottom: 40px;
	border-radius: 5px;
	box-shadow: 0px 10px 10px #ecf0f3;;
}
.genre_contents:hover, .popular_contents:hover, .user_contents:hover, .new_contents:hover, .item:hover {
	transform: scale(1.02);
	background-color: #ecf0f3;
	box-shadow: 0 1px 5px #999;
	transition-duration: 0.5s;/*掛ける時間*/
}

.genre_contents, .user_contents, .popular_contents {
	margin-bottom: 20px;
}

.new_contents {
	height: 165px;
	margin-bottom: 20px;
}

.popular_content_image > img {
	max-height: 140px;
	margin: 5px 0;
}
.genre_content_image > img {
	height: 100px;
	margin: 5px 0;
}
.user_content_image > img {
	max-height: 90px;
	margin: 5px 0;
}
.new_content_image > img {
	max-height: 155px;
	margin: 5px 0;
}
.timeline_image > img {
	max-height: 120px;
}
.admin_post_image > img {
	max-height: 60px;
	margin: 5px 0;
}
.profile_image {
	width: 90%;
	margin-bottom: 5px;
}
.comment_image > img {
	max-height: 40px;
}

.section_title {
	padding: 20px 0;
}

.new_contents ~ nav.pagination, .timeline_contents ~ nav.pagination {
	display: none;
}

/*スクロール矢印*/
.toppage {
	position: fixed;
	right: 30px;
	bottom: 75px;
}


@media screen and (max-width:1024px) {
	.genre_title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.genre_content_image > img {
		max-height: 75px;
	}
	.genre_contents {
		margin-bottom: 0;
	}

	.post-image > img {
		max-height: 250px;
		margin-bottom: 5px;
	}

}
