// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_headerimage {
	object-fit: cover;
	width: 100%;
}
.profile-img {
	width: 120px;
	height: 120px;
	margin: 0 auto;
}
.introduction .posted_date_list {
	text-align: left;
	display: inline-block;
}

.section_title {
	padding: 20px 0;
}

.post_contents {
	margin-bottom: 40px;
	overflow: hidden;
}
.post_contents:hover {
	transform: scale(1.05);
	background-color: #ecf0f3;
	box-shadow: 0 1px 1px #999;
	transition-duration: 0.5s;/*掛ける時間*/
}

.popular_post {
	margin-bottom: 30px;
}
